<div class="logo">
  <a href="http://localhost:4200/#/dashboard" class="simple-text">
    <div class="img">
      <img
        style="height: 60px; width: 160px"
        src="/assets/img/Nidec All for deams.White.png"
      />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group"> </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item"></li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="javascript:void(0)"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a
        class="nav-link"
        style="font-weight: 500; color: white"
        [routerLink]="[menuItem.path]"
      >
        <i class="material-icons" style="color: white">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
